:root {
  --light-beige: #f0e9d2; /* rgb(240, 233, 210) */
  --dark-beige: #e6ddc4; /* rgb(230, 221, 196) */
  --teal: #678983; /* rgb(103, 137, 131) */
  --dark-navy: #181d31; /* rgb(24, 29, 49) */
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--teal);
  color: var(--dark-navy);
}

/* Start Header Styling */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--dark-navy);
  height: 150px;
  padding: 0 20px 10px 20px;
  border-bottom: var(--light-beige) 2px solid;
  position: sticky;
  top: 0;
  color: var(--light-beige);
}

header a {
  text-decoration: none;
  color: inherit;
}

.title a {
  font-size: 36px;
  font-style: oblique;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

header li {
  width: 150px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  padding: 2px;
}

header li:hover {
  background-color: var(--light-beige);
  color: var(--dark-navy);
}

/* Start Jumbotron Styling */

.hero {
  display: flex;
  background-image: url(../images/code-background.jpg);
  background-size: cover;
  height: 300px;
  color: var(--light-beige);
  align-items: center;
  justify-content: center;
}

.hero p {
  width: 90%;
  text-align: center;
  font-size: 36px;
  background-color: rgba(24, 29, 49, 0.8);
  padding: 50px;
  border: var(--light-beige) 1px solid;
}

/* Start Row Section Styling */

.row {
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 10px;
  scroll-margin-top: 150px;
}

.subtitle {
  width: 100%;
  color: var(--dark-navy);
  font-size: 24px;
  text-align: center;
  border-top: var(--dark-navy) solid 3px;
  margin-bottom: 25px;
  padding: 10px;
}

.bio-rightside {
  margin-left: 10px;
}

.bio-rightside p {
  margin-bottom: 15px;
  font-size: 24px;
}

.bio-rightside li {
  font-size: 20px;
}

.subtitle {
  width: 100%;
  color: var(--dark-navy);
  font-size: 24px;
  text-align: center;
  border-top: var(--dark-navy) solid 3px;
  margin-bottom: 25px;
  padding: 10px;
}

/* Start of Bio Section Styling */

.bio-box {
  display: flex;
}

.image-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 10px;
  color: var(--light-beige);
  background: var(--dark-navy);
  border: var(--light-beige) 1px solid;
  height: 375px;
}

.image-box h2 {
  font-size: 30px;
  font-weight: normal;
}

.image-box h3 {
  font-size: 18px;
  font-weight: lighter;
}

.image-box img {
  width: 300px;
}

/* Start of the Projects Section Styling */

.project {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-bottom: var(--light-beige) 1px solid;
}

.screenshot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenshot h2 {
  font-size: 24px;
}

.description {
  margin-top: 35px;
  font-size: 18px;
}

.description p {
  margin-bottom: 10px;
}

.project img {
  width: 300px;
}

/* -- Increases font size  and image size for the first project */

#projects .project:nth-child(2) p {
  font-size: 20px;
  margin-top: 10px;
}
#projects .project:nth-child(2) h2 {
  font-size: 30px;
}

#projects .project:nth-child(2) img {
 width: 500px;
 margin-right: 20px;
 margin-top: 10px;
}

/* -- Removes border after last project */

#projects .project:last-child {
  border-bottom: none;
}

/* Start of Contact Me Section Styling */

#contact-me {
  height: 725px;
}

#contactBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contactBlock h3 {
  font-size: 24px;
}

#contatBlock h4 {
  font-size: 24px;
}

#contactBlock li {
  list-style: none;
  margin-top: 15px;
}

#contactBlock img {
  margin-top: 15px;
}

/* Start of Footer Section Styling */

footer {
  color: var(--light-beige);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--dark-navy);
  justify-content: center;
  height: 100px;
  font-size: 12px;
  font-style: italic;
}

@media screen and (max-width: 1100px) {
  .bio-box {
    flex-direction: column;
    align-items: center;
  }

  .bio-rightside {
    margin: 10px;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  header {
    align-items: center;
  }

  header h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 24px;
  }

  header li {
    font-size: 22px;
    width: 130px;
  }

  @media screen and (max-width: 620px) {
    header {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    header ul {
      padding: 0;
    }

    .hero {
      height: 150px;
    }

    .hero p {
      font-size: 16px;
      padding: 5px;
    }

    .project img {
      width: 250px;
    }

    #projects .project:nth-child(2) img {
      width: 300px;
    }

    header li {
      font-size: 14px;
      width: 100px;
    }

    header h1 {
      font-size: 24px;
    }

    footer {
      flex-direction: column;
    }
  }
}
